{% extends 'customer/base.html' %}
{% load static %}
<!-- {% block style %}<link rel="stylesheet" href="{% static 'style/cart.css' %}">{% endblock %} -->

{% block content %}

<section>
  <div class="container">
    <div class="row">
        <h1 class="my-4">Cart</h1>
    </div>

      {{cart}}

    <div class="row">
      <div class="col-sm-12">
        <table class="table table-hover">
          <tbody>
            {% if items %}
            {% for item in items %}
            <tr>
              <th scope="row" style="width: 10%;"><a href="#"><img src="{{item.product.image.url}}" alt="img"></a></th>
              <td style="width: 35%;"><p>{{item.product.title}}</p><p>{{item.product.description}}</p></td>
              <td>{{item.product.price}}</td>
              <td><button class="btn btn-sm btn-primary" onclick="decrease()">-</button>
                <b id="count"></b>
                <button class="btn btn-sm btn-primary" onclick="inrease()">+</button></td>
              <td>1550</td>
            </tr>
            {% endfor %}
            {% else %}
            <h5 class="alert-danger alert w-25 mt-3">Cart Empty</h5>
            {% endif %}
          </tbody>
        </table>  
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 d-flex justify-content-end my-3">
        <a href=""><button class="btn btn-sm btn-success">Checkout</button></a>
      </div>
    </div>
  </div>
</section>

<script>
    let num = 1
    document.getElementById('count').innerHTML = num
    console.log(num);

    function inrease(){
      num = num+1
      document.getElementById('count').innerHTML = num
    }

    function decrease(){
      num = num-1
      document.getElementById('count').innerHTML = num
    }

</script>

{% endblock %}