{% extends 'customer/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'style/cust_login.css' %}">{% endblock %}



{% block content %}

<div class="container">
    <div class="my-5 d-flex justify-content-center">
        <div class="reg py-5">
            <h2 class="mb-4">Login</h2>

            <form method="post">
              {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" name="username">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-primary my-2">Submit</button>

              </form>

              <div class="text-danger mb-3">
                {% for message in messages%}
                  {{message}}
                {% endfor %}  
              </div>

              <a href="{% url 'cust_register'%}" class="text-primary">Don't have an account..?</a>
              <br>
              <a href="{% url 'login'%}" class="text-primary">Log in to Restaurant Account</a>

        </div>
    </div>
</div>

{% endblock %}
