{% extends 'customer/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'style/cust_reg.css' %}">{% endblock %}



{% block content %}


<div class="container">
    <div class="my-5 d-flex justify-content-center">
        <div class="reg py-5">
            <h2>Create your Account</h2>

            <!-- <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" >
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">E-mail</label>
                    <input type="text" class="form-control" >
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Phone</label>
                    <input type="text" class="form-control" >
                  </div>
                
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" >
                  </div>

                <button type="submit" class="btn btn-primary my-2">Submit</button>

              </form> -->


              <form action="" method="post">
                {% csrf_token %}
                {{form.first_name.label}}
                {{form.first_name}}

                <br>

                {{form.username.label}}
                {{form.username}}

                <br>


                {{form.email.label}}
                {{form.email}}
                <br>

                {{form.password1.label}}
                {{form.password1}}
                <br>

                {{form.password2.label}}
                {{form.password2}}

                <button type="submit" class="btn btn-primary my-2">Submit</button>

              </form>

          {{form.errors}}


              <a href="{% url 'cust_login'%}" class="text-primary">Already have an account..?</a>

        </div>
    </div>
</div>


{% endblock %}
