{% extends 'customer/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'style/home.css' %}">{% endblock %}



{% block content %}
<div class="container p-3">
    <div class="row">
        <div class="user mb-3">
            <h6>Hello, {{request.user}}</h6>
        </div>
        <div class="near_rest w-100">
          <h3>Nearby Restaurants</h3>
        </div>
    </div>

    <div class="row">
      {% for rest in rests %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'rest_home' rest.id %}">
            <div class="card bg-light mb-5 border-0">
              <div class="card-body cb">
                  <b>{{rest.name}}</b>
                  <img src="{{rest.image.url}}" class="w-100 mt-1" alt="img">
                  <p class="mb-0">{{rest.location}}</p>
                  <b>{{rest.city}}</b>
                  <p>Rating</p>
                  <p class="desc">{{rest.description}}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
</div>



    <div class="container">

        <div class="Explore w-100 my-4">
            <h1>Explore</h1>
        </div>

        <div class="row">

          <div class="container">

            <div class="card m-3">
              <h5 class="card-header">Featured  (coming soon..!)</h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>

            <div class="card m-3">
              <h5 class="card-header">Featured</h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>

            <div class="card m-3">
              <h5 class="card-header">Featured  </h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

          </div>

        </div>

    </div>


{% endblock %}
