{% extends 'customer/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'style/home.css' %}">{% endblock %}



{% block content %}

    <div class="row">
        <div class="user">
            <h5>Hello, </h5>
        </div>
    </div>

    <div class="row">

        <div class="near_rest w-100">
            <h3>Nearby Restaurants</h3>
        </div>

        <div class="container">

            <div class="row">

                <div class="card bg-light mr-4 mb-3" style="max-width:16rem;">
                    <div class="card-body cb">
                      <b>Shone Restaurent</b>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW1jRamTcbgdEHsBS-0iu-5ZD_1zqEMP4Svw&usqp=CAU" class="w-100 mt-1" alt="img">
                      <p class="mb-0">Location</p>
                      <p>Rating</p>
                      <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

                  <div class="card bg-light mr-4 mb-3" style="max-width:16rem;">
                    <div class="card-body cb">
                      <b>Hotel Aurora</b>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqKYRFwrD1X-TFjJyjGGoRkH5ejQR0hcYVFQ&usqp=CAU" class="w-100 mt-1" alt="">
                      <p class="mb-0">Location</p>
                      <p>Rating</p>
                      <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

                  <div class="card bg-light mr-4 mb-3" style="max-width:16rem;">
                    <div class="card-body cb">
                      <b>Abc Restaurent</b>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqKYRFwrD1X-TFjJyjGGoRkH5ejQR0hcYVFQ&usqp=CAU" class="w-100 mt-1" alt="">
                      <p class="mb-0">Location</p>
                      <p>Rating</p>
                      <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

                  <div class="card bg-light mr-4 mb-3" style="max-width:16rem;">
                    <div class="card-body cb">
                      <b>Family Restaurent</b>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqKYRFwrD1X-TFjJyjGGoRkH5ejQR0hcYVFQ&usqp=CAU" class="w-100 mt-1" alt="">
                      <p class="mb-0">Location</p>
                      <p>Rating</p>
                      <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

                  <div class="card bg-light mr-4 mb-3" style="max-width:16rem;">
                    <div class="card-body cb">
                      <b>NO name</b>
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqKYRFwrD1X-TFjJyjGGoRkH5ejQR0hcYVFQ&usqp=CAU" class="w-100 mt-1" alt="">
                      <p class="mb-0">Location</p>
                      <p>Rating</p>
                      <p class="desc">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

            </div>

        </div>

    </div>


    <div class="container">

        <div class="Explore w-100 my-4">
            <h1>Explore</h1>
        </div>

        <div class="row">

          <div class="container">

            <div class="card m-3">
              <h5 class="card-header">Featured  (coming soon..!)</h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>

            <div class="card m-3">
              <h5 class="card-header">Featured</h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>

            <div class="card m-3">
              <h5 class="card-header">Featured  </h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

          </div>

        </div>

    </div>


{% endblock %}
