{% extends 'customer/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'style/rest_home.css' %}">{% endblock %}



{% block content %}

    <section>
        <div class="row">
            <div class="container">
                <div class=" rest-details mt-3">
                    <h2>{{restaurant}}</h2>
                    <p>{{restaurant.email}}</p>
                    <p>{{restaurant.phone}}</p>
                    <p>{{restaurant.location}}</p>

                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="row">

            <div class="w-100 text-center catg_titl">
                <h1>Categories</h1>
            </div>

        </div>

        <div>
            <div class="m-5">
                <input class="find" type="text" placeholder="Search">
                <button type="submit" class="find_btn"><i class="fa-solid fa-magnifying-glass fa-fx-1"></i></button>
              </div>
        </div>

        <div>
          {% for category in categories %}

            <div class="row">
                <div class="item_name">
                    <h2>{{category.name}}</h2>
                </div>
            </div>

            {% for product in products %}
            <div class=" m-5">
                <div class="row">

                    <div class="card mr-3" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{product.title}}</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                </div>
            </div>
            {% endfor %}

        </div>
        {% endfor %}


    </section>

{% endblock %}
