{% extends "form.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>items</title>

    <link rel="stylesheet" href="{% static 'css/item-list.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d37084c1c8.js" crossorigin="anonymous"></script>



</head>

{% block content %} 

<body>
  
<!-- <section class="container-fluid d-flex justify-content-between">
    <div class="fil col-md-2 col-sm-12">
        <h2>Filter</h2>
        <hr>
        <h6>Price</h6>
        <button type="button">250 - 500</button>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquid veritatis tempore, maiores distinctio repudiandae modi dignissimos. Sunt velit tenetur corporis, delectus rerum tempora ea vero commodi dicta voluptatibus sequi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquid veritatis tempore, maiores distinctio repudiandae modi dignissimos. Sunt velit tenetur corporis, delectus rerum tempora ea vero commodi dicta voluptatibus sequi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquid veritatis tempore, maiores distinctio repudiandae modi dignissimos. Sunt velit tenetur corporis, delectus rerum tempora ea vero commodi dicta voluptatibus sequi!</p>


    </div>


    <div class="items row col-md-10 col-sm-12 ml-4">


      <div class="card m-3" style="width: 14rem; height: 300px;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


      <div class="card m-3" style="width: 14rem; height:fit-content">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
</section> -->



<section class="sec container-fluid p-4">

   <div class="row">

    <div class="fil col-md-2 bg-light">

      <h2>Filter</h2>
      <hr>
     
      
      <h6>Price</h6>
      <button type="button" class="btn-primary m-1 p-1">250 - 500</button>
      <button type="button" class="btn-primary m-1 p-1">500 - 1000</button>
      <button type="button" class="btn-primary m-1 p-1">1000 - 2000</button>
      <hr>

     
      
      <h6>Distance</h6>
      <button type="button" class="btn-primary m-1 p-1">250 - 500</button>
      <button type="button" class="btn-primary m-1 p-1">500 - 1000</button>
      <button type="button" class="btn-primary m-1 p-1">1000 - 2000</button>
      <hr>

      <h6>Distance</h6>
      <button type="button" class="btn-primary m-1 p-1">250 - 500</button>
      <button type="button" class="btn-primary m-1 p-1">500 - 1000</button>
      <button type="button" class="btn-primary m-1 p-1">1000 - 2000</button>
      <hr>

      <h6>Distance</h6>
      <button type="button" class="btn-primary m-1 p-1">250 - 500</button>
      <button type="button" class="btn-primary m-1 p-1">500 - 1000</button>
      <button type="button" class="btn-primary m-1 p-1">1000 - 2000</button>
      <hr>

      <h6>Distance</h6>
      <button type="button" class="btn-primary m-1 p-1">250 - 500</button>
      <button type="button" class="btn-primary m-1 p-1">500 - 1000</button>
      <button type="button" class="btn-primary m-1 p-1">1000 - 2000</button>
      <hr>

      <h6>Distance</h6>
      <button type="button" class="btn-primary m-1 p-1">250 - 500</button>
      <button type="button" class="btn-primary m-1 p-1">500 - 1000</button>
      <button type="button" class="btn-primary m-1 p-1">1000 - 2000</button>
      <hr>

    </div>

    <div class="items row p-5 col-md-10">

      <div class="card m-3" style="width: 14rem; height:fit-content;">
        <img src="{% static 'images/food icons.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


      <div class="card m-3" style="width: 14rem; height: fit-content;">
        <img src="{% static 'images/food icons.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>



      <div class="card m-3" style="width: 14rem; height:fit-content;">
        <img src="{% static 'images/food icons.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>



      <div class="items row p-5" col-md-10>

        <div class="card m-3" style="width: 14rem; height:fit-content;">
          <img src="{% static 'images/food icons.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  
  
        <div class="card m-3" style="width: 14rem; height: fit-content;">
          <img src="{% static 'images/food icons.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  
  
  
        <div class="card m-3" style="width: 14rem; height:fit-content;">
          <img src="{% static 'images/food icons.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  
  
        <div class="card m-3" style="width: 14rem; height:fit-content;">
          <img src="{% static 'images/food icons.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

    </div>



   


    </div>
    

   </div>

</section>







</body>




  
{% endblock %}



</html>