{% extends "form.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


</head>
<body class="bg-light">

    
    <div class="container  mainn d-flex">
        <div class="left col-lg-5 ">

            <div>
                <img src="{% static 'images/User-icon.jpg' %}" alt="" width="200px" style="border-radius: 50%;">
            </div>

            <div class="second">
                <h2>Name</h2>
                <h5>Username</h5>
                <p>Lorem ipsum dol sapientm explicabo aliquam, minima reprehenderit impedit dolores minus quam debitis voluptates nostrum officiis harum enim nam? Hic.</p>
            </div>

            <div>
                <!-- <button type="button" class="btn btn-dark but">Profile</button>
                <br>
                <button type="button" class="btn btn-dark but">History</button>
                <br>
                <button type="button" class="btn btn-dark but">Dark</button> -->

                <button type="button" class="btn btn-dark but">edit</button>
                
            </div>
        </div>


        <div class=" right col-lg-7">
            <!-- <div class="nav bg-info">
                <button type="button" class=" but">Profile</button>
                <button type="button" class=" but">Profile</button>
                <button type="button" class=" but">Profile</button>

            </div> -->

            <h3 class="h Normal weight text">Basic Info</h3>

            <form action="">
                <label for="">Name</label>
                <br>
                <input class="inpp" type="text" value="Name">
                <br>

                <label for="">Username</label>
                <br>
                <input class="inpp" type="text" value="Name">
                <br>

                <label for="">Mobile</label>
                <br>
                <input class="inpp" type="text" value="Name">
                <br>

                <label for="">E-mail</label>
                <br>
                <input class="inpp" type="text" value="Name">
                <br>

                <label for="">Address</label>
                <br>
                <textarea  name="" id="txt" cols="40" rows="5"></textarea>
            </form>
        </div>
    </div>

</body>
</html>

{% endblock %}
