{% extends 'restaurant/rest_base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'rest_style/cat_prods.css' %}">
{% endblock %}


{% block content %}

    <div class="container m-5">
        <div class="row">
        
            <div>
                <h2>{{category}}</h2>
            </div>

        </div>

        <div class="row">

          <button class="btn btn-sm btn-primary m-3 float-right" data-toggle="modal" data-target="#exampleModal">New Product</button>

            <table class="table table-striped table-hover table-bordered table-sm">
                <thead class="bg-secondary text-white">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in products %}

                  <tr>
                    <th scope="row">{{i.id}}</th>
                    <td><img src="{{i.image.url}}" alt="img" width="100px" style="border-radius: 50%; box-shadow: 2px 2px 2px rgb(179, 176, 176);"></td>
                    <td>{{i.title}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.price}}</td>
                  </tr>
                  {% endfor %}


                </tbody>
              </table>

        </div>

    </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Product </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
              <input type="text" placeholder="Name of Product" name="name">
            </div>

            <div class="modal-body">
              <input type="file"  name="img">
            </div>

            <div class="modal-body">
              <input type="text" placeholder="Add Description" name="desc">
            </div>

            <div class="modal-body">
              <input type="text" placeholder="Price" name="price">
            </div>
    
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-info">Add</button>
            </div>
        </form>
        </div>
      </div>
    </div>


{% endblock %}

