{% extends 'restaurant/rest_base.html' %}
{% load static %}

{% block style %}

{% endblock %}


{% block content %}

  <div class="container m-5">
      <h6>Hello,</h6>
      <h3>{{request.user.username}}</h3>
  </div>

    <div class="container">
        <div class="row">

            <div class="row container-fluid">
                <h2 class="m-4">Recent Deliveries</h2>
            </div>
        
        
            <div class="container">
                <div class="row">
                  <table class="table table-secondary">
                    <thead class="bg-dark text-light w-100">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Item</th>
                            <th scope="col" colspan="1">Amount</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody class="bg-light ">
                          <tr class="bg-light">
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td ><a href="{% url 'delivery_details' %}" class="text-primary">View Details</a></td>
        
                          </tr>
                          <tr >
                              <th scope="row">2</th>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                              <td><a href="">View Details</a></td>
                          </tr>
        
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
        
                        </tbody>
                      </table>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

