{% extends 'restaurant/rest_base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'rest_style/login.css' %}">{% endblock %}



{% block content %}

<div class="container">
    <div class="my-5 d-flex justify-content-center">
        <div class="reg py-5">
            <h2 class="mb-4">Login</h2>

            <form method="post">
              {% csrf_token %}

                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" name="username">
                </div>
                
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-primary my-3">Submit</button>

            </form>

            <div class="text-danger f-3">
              {% for message in messages %}
              {{message}}
            {% endfor %}
            </div>

              <a href="{% url 'register0'%}" class="text-primary">Don't have an account..?</a>

        </div>
    </div>
</div>

{% endblock %}
