@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Raleway:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo{
    width: 40%;
}

.det{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 70px;
}
.header{
    background-color: orangered;
    padding: 15px;
    display: flex;
    justify-content: space-between;
 
}
.inp{
    padding: 2px;
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    background-color: rgb(252, 236, 236);
    

}

.det button{
    padding: 2px;
    border: none;
    border-radius: 5px;
    height: 40px;
}

.logout{
    padding: 2px;
    border: none;
    border-radius: 5px;
}
.a{
    width: 80%;
}
.b{
    width: 20%;
    display: flex;
    justify-content: end;
}
.login{
    margin-right: 20px;
    width: 60px;
    background-color: rgb(255, 255, 255);

}

.login:hover{
    background-color:rgb(241, 241, 241) ;
}

.btnsr{
    width: 60px;
    background-color: rgb(252, 236, 236);
}

.btnsr:hover{
    background-color:rgb(255, 255, 255) ;
}

.fa-user{
    margin-top: 5px;
}

.b a{
    color: white;
}

/* .navbar-nav {
    second nav barotem set 
} */


.nav-link{
    margin-right: 40px;
}

.nav2{
    background-color: rgb(255, 201, 166);
}

.logo h2{
    font-family: 'Bangers', cursive;
    font-weight: 200;
}