*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

img{
    /* border-radius: 50%; */
    margin-right: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(145, 224, 149);
}

.fa-user,.fa-cart-shopping,.fa-list-check{
    color: #ffffff;
    transition: ease-in-out 50ms;
}

.fa-user:hover{
    transform: scale(1.5);
    color: #c1ff76;
}

.fa-cart-shopping:hover{
    transform: scale(1.5);
    color: #c1ff76;
}

.fa-list-check:hover{
    transform: scale(1.5);
    color: #c1ff76;
}