@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Bangers&family=Cairo:wght@800&family=Montserrat:wght@300&family=Poppins:wght@100;200;300&family=Quattrocento&family=Raleway&display=swap');

*{
    /* outline: 1px solid red; */
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

.reg{
    background-color: #c1ff76;
    height: 100vh;
    padding: 80px;
    


}


