@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Bangers&family=Cairo:wght@800&family=Montserrat:wght@300&family=Poppins:wght@100;200;300&family=Quattrocento&family=Raleway&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.explore{
    margin: 10px 0 10px 80px;
}

.desc{
    font-size: 14px;
}

body{
    background-color: rgb(250, 250, 250);
}

.cb{
    background-color:rgb(245, 245, 245) ;
}

.cb img{
    border-radius: 5px;
    margin-bottom: 8px;
    width: 20%;
    box-shadow: .2px .2px 3px .2px rgb(185, 185, 185);

}
.card{
    box-shadow: 0px 2px 6px -4px #506d2c;
    transition: ease-in-out 150ms;

}

.card:hover{
    box-shadow: 1px 2px 8px -4px #04502d;

}

.card-header{
    background-color: rgb(174, 243, 174);
}

